#allmovies, #movieshow, #editmovie, #newmovie {
  background-image: url("movies_background.png");
  background-size: cover;
  text-shadow: 2px 2px 11px #ff0000;
}

#indexMovieTitle, #movietitle, #edittitle, #addmovietitle {
  color: black;
  font-size: 2em;
  text-shadow: 2px 2px 3px white;
}

#allmoviestitle {
  text-align: center;
  font-size: 4em;
  background-color: white;
  border: 2px solid black;
  border-radius: 100%;
  -webkit-text-stroke: 1px red;
  text-shadow: 2px 2px 5px white;
  opacity:.8;
}

#movielinks {
  color:white !important;
}

.home_video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  z-index: -2;
 }

 #dpl {
   position: absolute;
   margin-left: 34%;
   margin-top:3%;
   font-size: 6em;
   color: rgb(69, 48, 171);
   -webkit-text-stroke: 5px black;
 }

 